* {
    font-family: 'Pacifico', cursive;
}
body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}


h1 { 
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-justify: center;
    color: white;
  }

h2 { 
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-justify: center;
    color: white;
    font-style: italic;
  }

  h3 { 
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-justify: center;
    color: black

  }

  .app_container {
    text-align: center;
    text-justify: center;
    margin-top: 130px;
    margin-left: 20vh;
  }



button.miami {
    justify-content: center;
    background-color:#41B6E6 !important;
    border-color:#DB3EB1 !important;
  }

  .CircularProgressbar {
    height: 250px;
  }

  .action_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #dc3eb1;
    color: white;
    padding: 15px 40px;
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    border: 3px solid #42b6e6;
    cursor: pointer;
  }
  
  .wrapper {
    display: flex;
  }

  .wrapper {
    display: grid;
  }

  .badge-danger {
    background-color: #42b6e6 !important;
  }

  .badge{
    cursor: pointer;
  }